doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li My Text
    input(type= 'text').class-name#anyid
    - var condition = true
    if condition
      p It's true
    - var anyArray = [1,2,3]
    each value in anyArray
      p=value
    block content
